# Python
*.pyc
__pycache__
# IntelliJ IDEA (IDE-related files)
*.iml
.idea/*
.ipynb_checkpoints/

# Setuptools.
dist
*.egg-info

# pytest
.cache/*
.pytest_cache/*

# Jupyter notebook
jupyterhub.sqlite
jupyterhub_cookie_secret
index.ipynb


/build/
/build/lib/
*.py[cod]
node_modules/
package-lock.json
js/package-lock.json
jslab/package-lock.json

# Compiled javascript
sqlgrid/static/

# OS X
.DS_Store

# VISUAL STUDIO CODE (IDE-related files)
.vscode

# data
data/

# DOC allow doc distribution for python
!doc/build/html/
